tree/watree.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<!ELEMENT tree (item+)>
<!ATTLIST tree
	base CDATA #IMPLIED
>
<!ELEMENT item (title, action?, icon?, item*)>
<!ATTLIST item
	context CDATA #IMPLIED
	subsrc CDATA #IMPLIED
	id CDATA #IMPLIED
>
<!ELEMENT title (#PCDATA)>
<!ELEMENT action (#PCDATA)>
<!ELEMENT icon (#PCDATA)>
